* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(235, 196, 230);
    min-height: 65vh;
    border: 10px solid #f7f3f6;
}

.content {
    max-width: 900px;
    margin: 0 auto;
}



body {
    margin: 0;
    padding: 0;
    background-color: #c564fad2;
    margin: 20%;
}


#title {
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: 5px 5px 10px white;
    font-size: 7vh;
}


img {
    display: inline-block;
    width: 100%;
}


#caption {
    font-size: 17px;
    font-family: Gill Sans;
    color: rgb(7, 7, 7);
}

div#tribute-data {
    background-color: rgba(239, 46, 219, 0.25);
    box-shadow: 20px 20px 20px #f3cce9;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
}


h1.title-APJ {
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}


#tribute-link {
    text-decoration: turquoise;
    color: rgb(248, 245, 245);
}